@inject NavigationManager NavigationManager
<section class="light" id="portfolio">
    <h2>Portfolio</h2>
    <div class="portfolio-container">
    @if (projects is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="portfolio-hero">
            @if (hero is not null)
            {
                <img src="@(hero.Src)" style="height: 90%; width: 100%; object-fit: cover;animation: 1s ease-out 0s 1 slideInLeft;" 
                    alt="@(hero.Alt)" />
            }            
        </div>
        <div class="container">
            @foreach (var project in projects)
            {
                <div class="box" key="@project.Title">
                    <a href="@project.Url" target="_blank" rel="noopener noreferrer">
                        <h3 style="flex-basis: 40px;">@project.Title</h3>
                    </a>
                    <p class="small">@project.Description</p>
                </div>
            }
        </div>
        
    }
    </div>
</section>
<section class="light" id="portfolio2">
    <div class="container">
        <h2>Portfolio</h2>
        <div class="slideshow">
            <div class="slideshow-image">
                <img src="images/Snowflake.jpg" style="height: 90%; width: 100%; object-fit: cover;animation: 1s ease-out 0s 1 slideInLeft;"  alt="Image 1" />
                <div class="slideshow-description">
                    <div>
                        <h3>Image 1</h3>
                        <p>111Description for Image 1</p>
                    </div>
                </div>
            </div>
            <div class="slideshow-image">
                <img src="images/design-desk.jpeg" style="height: 90%; width: 100%; object-fit: cover;animation: 1s ease-out 0s 1 slideInLeft;"  alt="Image 2" />
                <div class="slideshow-description">
                    <div>
                        <h3>Image 2</h3>
                        <p>Description for Image 2</p>
                    </div>
                </div>
            </div>
            <div class="slideshow-image">
                <img src="images/woman-with-tablet.jpg" style="height: 90%; width: 100%; object-fit: cover;animation: 1s ease-out 0s 1 slideInLeft;"  alt="Image 3" />
                <div class="slideshow-description">
                    <div>
                        <h3>Image 3</h3>
                        <p>Description for Image 3</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    [Parameter, EditorRequired]
    public required HttpClient Http { get; set; }

    [Parameter, EditorRequired]
    public required HeroImageService HeroImageService { get; set; }

    private List<Project>? projects;
    private HeroImage? hero;
    protected override async Task OnInitializedAsync()
    {
        projects = await Http.GetFromJsonAsync<List<Project>>("sample-data/projects.json");
        hero = await HeroImageService.GetHeroAsync(img => img.Name is "portfolio");
    }
    private void NavigateToProjects()
    {
        NavigationManager.NavigateTo("Projects");
    }


}
